[buildout]
extends =
    http://dist.plone.org/release/5.2.0/versions.cfg

parts =
    instance

[instance]
recipe = plone.recipe.zope2instance
user = admin:password
http-address = 8080

eggs =
    five.formlib
    dm.zope.saml2
    zope.schema
    Plone
    qg.xmlsec.binding.init

zcml =
    dm.zope.saml2
    five.formlib
    dm.zope.schema-overrides

[versions]
qg.xmlsec.binding.init = 0.1.0
